/* applies to all elements of the page */
* {
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* very important, height and width will be added to the entire box, not just the content */
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

/* applies to everything inside the body */
body {
    font-family: 'Raleway', 'Merriweather', sans-serif, serif;
    font-size: 18px; /* inherits, unless overided */
    background-color: rgb(23, 91, 159)
}

h1, h2 { /* avoid repeated code */
    /*color: rgb(2, 110, 56);  color of the h1 tags */
    text-align: center;
}

h1 {
    font-size: 40px; /* overide text size */
    margin-bottom: 20px;
}

h2 {
    font-size: 25px; /* overide text size */
    margin-bottom: 10px;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

/* bad practice to use id's, not reusable */

.container {
    width: 1140px;
    
    /*
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    */

        /* top right bottom left */
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.blog-post img {
    height: 150px;
    width: auto;
}

.date {
    position: absolute; /* position determinated by me */
    top: 10px;
    right: 30px;
    font-style: italic;
}

.other-posts {
    width: 25%;
    float: left; /* float the element to the right side of another( if there is space ) */
}

.other {
    margin-bottom: 40px;
}

.author-text {
    font-size: 22px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

.author-box {
    margin-bottom: 10px;
    padding-top: 20px;
    border-top: 1px solid rgb(126, 124, 124);
}

/*select only img inside author-box */
.author-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%; /* image becomes a circle */
    float: left;
}